<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Do not rewrite existing files or directories
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Rewrite all other requests to index.html
  RewriteRule . /index.html [L]
</IfModule>

# Correct MIME types
AddType application/javascript .js
AddType text/css .css
